# IAS 150 Data

Note: See the python file for 'migrant_functions.py' for functions and their documentation

### Imports

In [1]:
import pandas as pd
import numpy as np
import migrant_functions as mf

### Data Cleaning

In [2]:
male_migrants = mf.load_data_excel('male_migrant_info.xlsx')

In [19]:
male_migrants.head()

,Year,Code,Country,Total,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
13,1990,1990014,Burundi,333110,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1990,1990015,Comoros,14079,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1990,1990016,Djibouti,122221,0,0,0,0,0,0,...,0,0,0,0,0,0,0,289,0,0
16,1990,1990017,Eritrea,11848,0,0,0,0,0,247,...,0,0,0,0,0,0,0,0,91,82
17,1990,1990018,Ethiopia,1155390,0,0,0,0,0,0,...,0,0,0,0,0,0,0,68,0,0

In [1]:
Central_America = ['Cuba', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Venezuela (Bolivarian Republic of)']
Asia = ['China','India','Philippines','Vietnam']
Middle_East = ['Afghanistan', 'Iraq', 'Pakistan', 'Syria']
Africa = ['Ethiopia', 'Ghana', 'Kenya', 'Nigeria', 'Somalia', 'South Africa']
Central_America + Asia + Middle_East + Africa

['Cuba',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Mexico',
 'Venezuela (Bolivarian Republic of)',
 'China',
 'India',
 'Philippines',
 'Vietnam',
 'Afghanistan',
 'Iraq',
 'Pakistan',
 'Syria',
 'Ethiopia',
 'Ghana',
 'Kenya',
 'Nigeria',
 'Somalia',
 'South Africa']

In [5]:
central_origin =  mf.select_region(male_migrants, Central_America, origin=True)
central_destination = mf.select_region(male_migrants, Central_America, origin=False)

Get the top 3 countries, destination and origin, for Cuba.

This function supports:
    
    1) country selection
    2) selection of how many of the top origin/destination countries to display
    3) Whether were looking at in-migration or out-migration from the selected country
    4) The year to be looked at

In [6]:
central_origin_three = mf.get_top_i(central_origin,'Cuba',1990,origin=True,i=5)
central_destination_three = mf.get_top_i(central_destination,'Cuba',1990,origin=False,i=5)
display(central_origin_three.head())
display(central_destination_three.head())

,Year,Code,Country of Destination,Country of Origin: Cuba (Counts)
241,1990,1990242,United States of America,736971
172,1990,1990173,Spain,21854
204,1990,1990205,Puerto Rico,19579
235,1990,1990236,Venezuela (Bolivarian Republic of),11559
197,1990,1990198,Dominican Republic,6824

,Year,Code,Country of Origin,Country of Destination: Cuba (Counts)
193,1990,1990195,Spain,10703
170,1990,1990195,Russian Federation,4491
92,1990,1990195,Haiti,2063
216,1990,1990195,Ukraine,1367
220,1990,1990195,United States of America,1186

In [62]:
# pivots above format into one row
def table_to_row(table, country, origin=True):
    year = table.iloc[0,0]
    code = table.iloc[0,1]
    
    if origin:
        dest_countries = table['Country of Destination']
        counts = table['Country of Origin: '+ country + ' (Counts)']
        
        keys = ['Year', 'Country', 'Code', 'Origin'] + list(dest_countries)
        values = [[i] for i in  [year, country, code, 1] + list(counts)]
        
        dictionary = dict(zip(keys, values))
        
    else:
        origin_countries = table['Country of Origin']
        counts = table['Country of Destination: '+ country + ' (Counts)']
        
        
        keys = ['Year', 'Country', 'Code', 'Origin'] + list(origin_countries)
        values =  [[i] for i in [year, country, code, 0] + list(counts)]
        
    
    return pd.DataFrame(dict(zip(keys, values)))

In [63]:
table_to_row(central_destination_three, 'Cuba', origin=False)

,Year,Country,Code,Origin,Spain,Russian Federation,Haiti,Ukraine,United States of America
0,1990,Cuba,1990195,0,10703,4491,2063,1367,1186

In [64]:
table_to_row(central_origin_three, 'Cuba', origin=True)

,Year,Country,Code,Origin,United States of America,Spain,Puerto Rico,Venezuela (Bolivarian Republic of),Dominican Republic
0,1990,Cuba,1990242,1,736971,21854,19579,11559,6824

In [7]:
male_migrants

,Year,Code,Country,Total,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
13,1990,1990014,Burundi,333110,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1990,1990015,Comoros,14079,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1990,1990016,Djibouti,122221,0,0,0,0,0,0,...,0,0,0,0,0,0,0,289,0,0
16,1990,1990017,Eritrea,11848,0,0,0,0,0,247,...,0,0,0,0,0,0,0,0,91,82
17,1990,1990018,Ethiopia,1155390,0,0,0,0,0,0,...,0,0,0,0,0,0,0,68,0,0
18,1990,1990019,Kenya,297292,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1990,1990020,Madagascar,23917,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1990,1990021,Malawi,1127724,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5637,3851
21,1990,1990022,Mauritius,3613,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1990,1990023,Mayotte,15229,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1990,1990024,Mozambique,122332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1288,8455
24,1990,1990025,Réunion,57210,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1990,1990026,Rwanda,159869,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1990,1990027,Seychelles,3721,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1990,1990028,Somalia,478294,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1990,1990029,South Sudan,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1990,1990030,Uganda,558307,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,1990,1990031,United Republic of Tanzania,574025,0,0,0,0,0,717,...,0,0,0,0,0,0,0,0,18188,488
31,1990,1990032,Zambia,279029,0,0,0,0,0,123777,...,0,0,0,0,0,0,0,0,0,34625
32,1990,1990033,Zimbabwe,626821,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,17966,0
34,1990,1990035,Angola,33517,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,119,0
35,1990,1990036,Cameroon,265344,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,1990,1990037,Central African Republic,67234,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,1990,1990038,Chad,74342,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,1990,1990039,Congo,129597,0,0,0,0,0,10334,...,0,0,0,0,0,0,0,0,0,0
39,1990,1990040,Democratic Republic of the Congo,754194,0,0,0,0,0,468462,...,0,0,0,0,0,0,0,0,0,0
40,1990,1990041,Equatorial Guinea,2740,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,1990,1990042,Gabon,127980,0,0,34,0,0,342,...,0,0,0,0,0,0,0,0,0,0
42,1990,1990043,Sao Tome and Principe,5582,0,0,0,0,0,468,...,0,0,0,0,0,0,0,0,0,0
44,1990,1990045,Algeria,273954,0,0,0,0,0,0,...,0,0,0,0,0,0,167905,2593,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1854,2017,2017235,Uruguay,79586,0,0,0,0,0,0,...,0,0,0,588,0,0,0,0,0,0
1855,2017,2017236,Venezuela (Bolivarian Republic of),1426336,0,19,96,0,0,190,...,4869,0,0,0,12,0,0,0,0,15
1857,2017,2017238,Bermuda,18954,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1858,2017,2017239,Canada,7861226,47605,15823,59389,0,0,2981,...,7672,5574,0,18608,191988,0,0,1976,3742,10532
1859,2017,2017240,Greenland,6014,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1860,2017,2017241,Saint Pierre and Miquelon,990,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1861,2017,2017242,United States of America,49776970,72909,90381,19316,0,0,13841,...,51229,60216,0,232448,1409063,0,0,44905,24455,54567
1864,2017,2017245,Australia,7035560,39297,3495,1636,398,0,608,...,11679,1703,1648,5132,238307,0,0,707,7465,40724
1865,2017,2017246,New Zealand,1067423,2607,0,0,0,0,0,...,0,0,0,0,6563,0,0,0,1510,8640
1867,2017,2017248,Fiji,13911,0,0,0,0,0,0,...,0,0,186,0,0,0,0,0,0,0
1868,2017,2017249,New Caledonia,66001,0,0,823,0,0,0,...,0,0,5069,0,819,8010,0,0,0,0
1869,2017,2017250,Papua New Guinea,32389,0,0,0,0,0,0,...,0,0,104,0,0,0,0,0,0,0
1870,2017,2017251,Solomon Islands,2532,0,0,0,0,0,0,...,0,0,64,0,0,0,0,0,0,0
1871,2017,2017252,Vanuatu,3245,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1873,2017,2017254,Guam,78027,0,0,0,0,0,0,...,0,0,0,0,363,0,0,0,0,0
1874,2017,2017255,Kiribati,3022,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1875,2017,2017256,Marshall Islands,3292,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1876,2017,2017257,Micronesia (Fed. States of),2785,0,0,0,23,0,0,...,0,0,0,0,0,0,0,0,0,0
1877,2017,2017258,Nauru,3710,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1878,2017,2017259,Northern Mariana Islands,21777,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1879,2017,2017260,Palau,4988,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1881,2017,2017262,American Samoa,23561,0,0,0,0,0,0,...,0,0,0,0,211,0,0,0,0,0
1882,2017,2017263,Cook Islands,4213,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1883,2017,2017264,French Polynesia,30687,0,0,695,0,0,0,...,0,0,214,0,0,33,0,0,0,0
1884,2017,2017265,Niue,553,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1885,2017,2017266,Samoa,4879,0,0,0,1571,0,0,...,0,0,16,0,0,0,0,0,0,0
1886,2017,2017267,Tokelau,504,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1887,2017,2017268,Tonga,4952,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1888,2017,2017269,Tuvalu,143,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1889,2017,2017270,Wallis and Futuna Islands,2779,0,0,0,0,0,0,...,0,0,240,0,0,0,0,0,0,0

In [3]:
mf.master(male_migrants)

/Users/jordanjomsky/Desktop/IAS-150/migrant_functions.py:97: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  temp = pd.concat([table1, table2])
/Users/jordanjomsky/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

IndexError: single positional indexer is out-of-bounds